@font-face {

    font-family: "Open Sans";
    src: url("../../fonte/OpenSans-Regular.ttf") format("truetype");

}

.togglebar{
    margin-top:15%;
    width:100%;
}
.container {
    margin-top: 0% !important;
    margin-bottom:10%;
}
.newAddressText {
    font-size: 4.5vw;
}

.fotousuario img {
    left:15%;
    top: 50%;
    min-height: 100%;
    height:auto;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
	object-fit:cover;
    
}
.fotousuario {
    position: relative;
    width: 9vh;
    height: 3.5em;
    overflow: hidden;
	object-fit:cover;
    border-radius: 80% 80% 80% 80%;
    margin: 2%;

}

.icone {
    width: 10%;
    padding: 1%;
    margin-top: 1%;
}
.offerImageDisplay{
    position: absolute;
    left: 50%;
    top: 40%;
    height: 80%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border-bottom: 0.5px solid #ABA14E ;
    background-image: url('https://secure.jezzy.com.br/uploads/loading/Jezzy---Loading----Offers---v2.gif');
    background-size: contain;
    background-repeat: no-repeat;

}
.offerImageDisplay2{
    width:50%; /* you can use % */
    border:0.5px solid #ABA14E;
    position: relative;
    height: 200px;
    overflow: hidden;

}
.offerImageDisplay3{
    width:50%; /* you can use % */
    border:1px solid #ABA14E;
    height: 600px;

}
.iconCardCheckout{
    width: 24px;
    float: right;
    bottom:2%;
    position:absolute;
    margin-left: 70%;
}
.glyphicon{
    width: 15%;
    font-size: 20px;
    padding: 7%;
}
.glyphicon:active{
    color: #124a55;
}
.glyphicon:hover{
    color:#2497AC;
}
.offerOldPrice{
    font-size: 10px;
    color: #9b9b9b;
    text-decoration: line-through;
    margin-left: 4%;
    display: block;
    bottom:11%;
    position:absolute;
}
.offerNewPrice{
    color: #2497AC;
    font-size: 18px;
    margin-left: 4%;
    bottom:0%;
    position:absolute;
}
.container{
    padding-left: 0% !important;
    padding-right: 0% !important;
}
.button{
    float:right;
}
.togglebardetail{
    margin-top:14%;
    width:100%;
}
.col-xs-12{
    margin-left:0%!important;
    margin-right:0%!important;
    padding:0%!important;
}
.offerImageDisplaydetail{
    float:left;
    position: absolute;
    left: 25%;
    top: 50%;
    height: 90%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding:2%;

}
.btn-default {
    border-color: transparent;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius:10%;
    color: #ABA14E;
}
.cc-selector input:active +.drinkcard-cc{opacity:2;}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    color: #196373;


}
.form-control {
    display: block;
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    margin: 5%;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn-info {
    color: #fff;
    background-color: #2597AC;
    border-color: #2597AC;
    margin: 5%;
    width:90%;
}
.drinkcard-dd{
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width: 20%;
    float:none;
    margin-left: 25%;
    text-align: center;
    align-content:center;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    color:#A9A055;
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(1);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(1);
    filter: brightness(1.2) grayscale(.5) opacity(1);
    background-color: transparent;
}
.drinkcard-dd:hover{
    color: #2597ac;
    float:none;
    text-align: center;
    -webkit-filter: brightness(1.6) grayscale(1) opacity(.5);
    -moz-filter: brightness(1.6) grayscale(1) opacity(.5);
    filter: brightness(1.6) grayscale(1) opacity(.5);

}
.drinkcard-dd:active{
    color: #2597ac;
    float:none;
    text-align: center;
    -webkit-filter: brightness(1.6) grayscale(1) opacity(.5);
    -moz-filter: brightness(1.6) grayscale(1) opacity(.5);
    filter: brightness(1.6) grayscale(1) opacity(.5);

}
.drinkcard-cc{
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width: 24%;
    align-content:center;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    color:white;
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(1);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(1);
    filter: brightness(1.2) grayscale(.5) opacity(1);
    background-color: transparent;

}
.drinkcard-cc:hover{
    color: #144b58;
    -webkit-filter: brightness(1.6) grayscale(1) opacity(.5);
    -moz-filter: brightness(1.6) grayscale(1) opacity(.5);
    filter: brightness(1.6) grayscale(1) opacity(.5);

}

.finds{
  margin-top: 25vw;
}
.findsNoMargin{
    margin-top: 0!important;
}
.filterArea{
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    vertical-align: middle;
    max-width:100%!important;
    border: 1px solid white;

}
.filterArea:active
{
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
}
.filterAreaList:active
{
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
}
.filterAreaList{
    background-color: #78BDCA;
    text-align: center;
    width:100%;
    color: #ffffff;
    font-family: "Open Sans";
    vertical-align: middle;
    height:34vw;
    border: 1px solid white;
}

.alert-info {
    color: white;
    background-color: #2597AC;
    border-color: #1d6d7e;
}
.alert {
    padding-top: 10px;
    padding-bottom:10px;
    text-align: center;
    margin: 5%;
    border: 1px solid transparent;
    width: 40%;
    border-radius: 4px;
}
.cc-selector{
    width:100%;
    padding:0%;
    margin-left:0%;

}
.cc-selector input{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    display: none;
}
.views input:active +.drinkcard-dd{opacity:5;}
.views input:checked +.drinkcard-dd{
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    color: #196373;

}
.views{
    width:20%;
    padding:0%;
    margin-left:0%;
    margin-top:2%;

}
.views input{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    display: none;
    color:#2597AC;
}

.offer_circledetail{
    margin-left: 30%;
    float:left;
    position: absolute;
    border-radius: 50%;
    background-color:  #2497AC;
    width:12%;
    text-align: center;
    top:5%;
    color:white;
    padding:1.5%;
    font-size:3vw;
}
.offer_circle{
    margin-left: 53%;
    float:right;
    position: absolute;
    border-radius: 50%;
    background-color:  #2497AC;
    width:24%;
    text-align: center;
    top:5%;
    color:white;
    padding:4%;
    font-size:3vw;
}
.containerdetail{
    padding-right: 0%;
    padding-left: 0%;

}
.bottomLine1{
    border:0px solid #A9A055;
    margin-top:29%;
    position:absolute;
    width:100%;
}
.offerImageDisplay2detail{
    width:100%; /* you can use % */
    border-bottom:2px solid #ABA14E;
    border-left:1px solid #ABA14E;
    position: relative;
    height: 202px;
    overflow: hidden;

}
.fb-share-button{
    background-image:url(https://secure.jezzy.com.br/jezzy-mobile-professionals/public_html/img/icons/Compartilhar.png);
    margin-top:0%;

}
.compartilhardouradodetail{
    border:transparent;
    margin-top:42%;
    width: 32px;
    bottom:0%;
    position:absolute;
    margin-left: 85%;
    background-color:transparent;
    background-image:url(https://secure.jezzy.com.br/jezzy-mobile-professionals/public_html/img/icons/Compartilhar.png);
}
.iconCardCheckoutdetail{
    width: 33px;
    float: right;
    bottom:2%;
    position:absolute;
    margin-left: 75%;
}
.offerOldPricedetail{
    float: right;
    bottom:50%;
    margin-left: 50%;
    font-size: 3vw;
    color: #9b9b9b;
    text-decoration: line-through;
    position: absolute;


}
.offerNewPricedetail{
    bottom:38%;
    color: #2497AC;
    font-size: 5vw;
    margin-left: 50%;
    position: absolute;
    float: right;

}
.offerNewPrice2detail{
    bottom:38%;
    color: #2497AC;
    font-size: 3vw;
    margin-left: 85%;
    position: absolute;
    float: right;


}
.titulodetail{

    overflow: hidden;

    float: right!important;
    top:7%!important;
    margin-left:50%!important;
    font-size: 4vw;
    color: #2497AC;
    position: absolute!important;
    width:48%;
    height: 58px;
    text-transform: uppercase;
    font-weight: 500;

}
.offerParcelsdetail{
    float: right;
    bottom:30%;
    margin-left: 50%;
    font-size: 3vw;
    color: #9b9b9b;
    position: absolute;
}

#btnMyNavMenu{
	z-index: 999999;
}

#myNavmenu{
	z-index:999999;
}

#loading{
	width: 10%;
}

#divloading{
	position: relative;
	top: -100px;
display: none;
}